<div class="about">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non sem nec magna feugiat mollis a nec libero. Sed sed nunc risus. Nam eget purus et nunc accumsan suscipit. Nullam eget ante magna. Mauris nulla augue, ullamcorper at vulputate eget, varius vel risus. Suspendisse potenti. Nunc congue consequat imperdiet. Cras posuere convallis quam, eget fermentum elit ultrices sit amet. Curabitur nec elit quam, at facilisis erat. Ut in augue enim. Mauris tellus enim, convallis ac semper et, rutrum at justo. Nunc magna tellus, aliquet sit amet placerat sit amet, tincidunt ut neque.</p>

  <p>In ut nibh dignissim eros bibendum luctus. Proin scelerisque massa nec turpis rhoncus a consectetur augue fringilla. Donec at dolor massa. Aliquam erat volutpat. Duis ultrices convallis orci at laoreet. Pellentesque vel tortor vitae mauris ullamcorper fermentum lacinia eu orci. Suspendisse porta nisl et arcu dictum nec auctor augue viverra.</p>
</div>
